<div class="entry">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="trTable">
            <!-- <tr id="trTable"></tr> -->
        </tbody>
</table>
</div>